################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/EMS/FileContentIndex/4ca4882b-7d0a-4b52-9d5e-a4f6a5970ada.vsidx
/.vs/EMS/FileContentIndex
